#forsideArticle {
  width: 500px;
  position: absolute;
  z-index: 10;
  color: white;
  top: 200px;
  left: 100px;

  h2 {
    color: black;
  }
  #nyhedsContainer {
    background-color: #323540e5;
    border-radius: 10px;
    padding: 20px;
  }
}
