.contact-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: start;
  h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 5px;
  }
  form {
    align-items: end;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
    input {
      padding: 5px;
      border-radius: 5px;
      width: 400px;
      height: 30px;
      border: none;
      background-color: #ececec;
    }
    textarea {
      padding: 5px;
      border-radius: 5px;
      width: 400px;
      height: 200px;
      border: none;
      background-color: #ececec;
    }
    button {
      width: 80px;
      height: 30px;
      border: none;
      border-radius: 5px;
      background-color: #5f657b;
      color: #ffff;
    }
  }
}
